// Color
.color-0 {
  color: #d8e8f3;
  background-color: #d8e8f3;
}
.color-1 {
  color: #333333;
  background-color: #333333;
}
.color-2 {
  color: #9c9c9c;
  background-color: #9c9c9c;
}
.color-3 {
  color: #0bc2ff;
  background-color: #0bc2ff;
}
.color-4 {
  color: #ffffff;
  background-color: #ffffff;
}
.color-5 {
  color: #d6e2f0;
  background-color: #d6e2f0;
}
.color-6 {
  color: #000000;
  background-color: #000000;
}
.color-7 {
  color: #c2d3e7;
  background-color: #c2d3e7;
}
.color-8 {
  color: #d8e9f3;
  background-color: #d8e9f3;
}
.color-9 {
  color: #04569c;
  background-color: #04569c;
}
.color-10 {
  color: #ffc800;
  background-color: #ffc800;
}
.color-11 {
  color: #a0b8d4;
  background-color: #a0b8d4;
}
.color-12 {
  color: #b2d3e8;
  background-color: #b2d3e8;
}
.color-13 {
  color: #f0f7fc;
  background-color: #f0f7fc;
}
.color-14 {
  color: #f5f5f5;
  background-color: #f5f5f5;
}
.color-15 {
  color: #e3e3e3;
  background-color: #e3e3e3;
}
.color-16 {
  color: #ececec;
  background-color: #ececec;
}
.color-17 {
  color: #0099cc;
  background-color: #0099cc;
}
.color-18 {
  color: #4d4d4d;
  background-color: #4d4d4d;
}
.color-19 {
  color: #ff1616;
  background-color: #ff1616;
}
.color-20 {
  color: #f7fafd;
  background-color: #f7fafd;
}
.color-21 {
  color: #1d7dbc;
  background-color: #1d7dbc;
}
.color-22 {
  color: #8797a5;
  background-color: #8797a5;
}
.color-23 {
  color: #9747ff;
  background-color: #9747ff;
}
.svg-color-0-fill {
  fill: #9c9c9c;
}
.svg-color-1-fill {
  fill: #04569c;
}
.svg-color-2-fill {
  fill: #a0b8d4;
}
.svg-color-3-fill {
  fill: #ffc800;
}
.svg-color-4-fill {
  fill: #f0f7fc;
}
.svg-color-5-fill {
  fill: #f50c0c;
}
.svg-color-6-fill {
  fill: #0bc2ff;
}
.svg-color-7-fill {
  fill: #9ebbdd;
}
.svg-color-8-fill {
  fill: #c2d3e7;
}
.svg-color-9-fill {
  fill: #d6e2f0;
}
.svg-color-10-fill {
  fill: #ffcaca;
}
.svg-color-11-fill {
  fill: #fd1049;
}
.svg-color-12-fill {
  fill: #ffffff;
}

.svg-color-0-stroke {
  stroke: #9c9c9c;
}
.svg-color-1-stroke {
  stroke: #04569c;
}
.svg-color-2-stroke {
  stroke: #a0b8d4;
}
.svg-color-3-stroke {
  stroke: #ffc800;
}
.svg-color-4-stroke {
  stroke: #f0f7fc;
}
.svg-color-5-stroke {
  stroke: #f50c0c;
}
.svg-color-6-stroke {
  stroke: #0bc2ff;
}
.svg-color-7-stroke {
  stroke: #9ebbdd;
}
.svg-color-8-stroke {
  stroke: #c2d3e7;
}
.svg-color-9-stroke {
  stroke: #d6e2f0;
}
.svg-color-10-stroke {
  stroke: #ffcaca;
}
.svg-color-11-stroke {
  stroke: #fd1049;
}
.svg-color-12-stroke {
  stroke: #ffffff;
}
.svg-color-13-stroke {
  stroke: #1c92ff;
}

.svg-color-14-stroke {
  stroke: #5fbfff;
}

.svg-color-15-stroke {
  stroke: #1d7dbc;
}


.svg-color-10-stop {
  stop-color: #ffcaca;
}
.svg-color-11-stop {
  stop-color: #fd1049;
}

// padding
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.b-teal {
  bacground-color: teal;
}
